.call {
    padding: 120px 0;

    @media (max-width: 1550px) {
        padding: 50px 0;
    }

    @media (max-width: 880px) {
        padding: 20px 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-content: center;
        gap: 65px;

        max-width: 1440px;
        margin: 0 auto;
        width: 100%;

        @media (max-width: 1550px) {
            grid-template-columns: 1fr;
            gap: 30px;
            // place-items: center;
        }
    }

    &__slider {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        max-width: 500px;

        @media (max-width: 1550px) {
            max-width: initial;
            padding: 0 20px;
        }

        
        @media (max-width: 880x) {
            max-width: initial;
            padding: 0 10px;
        }
    }

    &__title {
        font-family: $primary-font;
        font-weight: 700;
        font-size: 42px;
        line-height: 155%;
        letter-spacing: 0.02em;
        color: #253d32;

        @media (max-width: 880px) {
            font-size: 28px;
        }
    }

    &__description {
        font-weight: 700;
        font-size: 22px;
        line-height: 182%;
        color: #000;

        @media (max-width: 880px) {
            font-size: 22px;
        }
    }

    &__list {
        color: #78847D;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-position: inside;

        @media (max-width: 880px) {
            font-size: 20px;
        }
    }

    

    &__button {
        @include button;
    }
}