.footer {
    padding: 60px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: flex-end;

        gap: 20px;
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 20px;
        }
    }

    &__map {
        height: 100%;
        width: 100%;
        min-height: 250px;
    }

    &__logo {
        display: flex;
        align-items: center;
        
        gap: 5px;
        color: #000;
        font-family: $primary-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.52px;
        text-decoration: none;

        @include hover;
        @include active;
    }

    &__city {
        color: #000;
        font-family: $primary-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.52px;
        text-decoration: none;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__list {
        display: flex;
        gap: 25px;
        align-items: center;
    }

    &__text {
        max-width: 350px;
        width: 100%;
        font-weight: 400;
        font-size: 20px;
        line-height: 170%;
        letter-spacing: 0.01em;
        color: #78847d;

        @media (max-width: 768px) {
            max-width: initial;
            font-size: 18px;
        }
    }

    &__element {
        list-style: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
    }

    &__numbers {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        text-align: end;
        justify-content: flex-end;
        gap: 25px;

        @media (max-width: 768px) {
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            text-align: start;
        }
    }

    &__number {
        font-weight: 700;
        font-size: 24px;
        line-height: 142%;
        color: #253d32;
    }

    &__element {
        width: 100%;
        list-style: none;

        &--icon {
            width: 25px;
            height: 25px;
        }
    }

    &__call {
        @include button;
    }

    @media (max-width: 1530px) {
        padding: 50px 20px;
    }
}