.hero {
    min-height: 100vh;

    background: no-repeat image-set(
                    "/public/hero.webp" type("image/webp"),
                    "/public/hero.png" type("image/png"),
    ) center/cover, #242A5B;
    display: grid;
    grid-template-rows: 1fr;
    position: relative;

    &__wrapper {
        @include d-flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 1530px) {
            padding: 40px 20px;
        }

        @media (max-width: 768px) {
            padding: 150px 20px 90px 20px;
        }
    }

    &__title {
        color: #FFF;
        font-size: 90px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 3.6px;
        text-align: center;

        @media (max-width: 1024px) {
            font-size: 36px;
        }
    }
    
    &__subtitle {
        opacity: 0.8;
        color: #FFF;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.72px;

        @media (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &__description {
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 181.818% */
        max-width: 900px;
        opacity: 0.6;

        @media (max-width: 1024px) {
            font-size: 24px;
        }
    }

    &__call {
        @include button;
    }

    &__scroll {
        top: 50%;
        left: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        animation: marquee 30s linear infinite;
        display: flex;
        justify-content: space-around;

        span {
            display: inline-block;
            width: fit-content;
            margin: 0 20px;
            padding: 0;
            color: white;
        }
    }

    &__social {
        position: relative;
        height: 140px;
        overflow: hidden;
    }
}